body {
    overflow-x: hidden;
}

.App {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dividerTheme {
    background-color: white !important;
    margin-bottom: 5px !important;
}

.amount {
    color: black !important; 
    font-size: large !important;
    height: 30px;
    min-width: 10px !important;
    margin-left: 10px !important;
}

.dark {
    background-color: black;
    color: white;
}

.darks {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
}

.darkM {
    background-color: white !important;
}